

html, body {margin:0;padding:0;height:100%;}
@font-face {
    font-family: 'Timmana';
    font-style: normal;
    font-weight: 400;
    src: local('Timmana'), url(http://fonts.gstatic.com/s/timmana/v1/tEAfDctfJT20r9KY6hrGew.woff2) format('woff2'), url(http://fonts.gstatic.com/s/timmana/v1/UfJ_dNFklDWbOsVWljJvYQ.woff) format('woff');
}

@import url(http://fonts.googleapis.com/css?family=Roboto);
body {
    font-family: Timmana !important;
    width: 100%;
    color: #272B37 !important;
    position: relative;
}

p {
    font-family: 'Roboto';
}
.hrLinebig {
    width:140px;
    border:3px solid #000;
}

button {
    background-color: #272B37;
    padding-top: 12px !important;
    color: #ccc !important;
}

button:hover {
    color: #fff !important;
}
.ion-chevron-down{
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay:2s;
  -webkit-animation-duration: 3s;
}
.navbar-default {
    background:none !important;
    border:none !important;
}
.navbar {
    margin-bottom:0 !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
background:none !important;
}
.navbar-nav > li > a {
     line-height: 60px;
    font-size: 22px;
}

.scrollhere{
    position:absolute !important;
    bottom:0;
}


/*.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    border-bottom:3px solid #22b2aa;
}*/

.text {
    padding-top:12%;
    line-height:35px;

}

#about {
    background-image: url('../img/rabbyddd.jpg');
    background-size:cover !important;
    background-position:50% 50% !important;
    height:100% !important;
    position:relative;
    overflow:hidden;

}

    #about:before {
        content:"";
        position:absolute;
        top:0;
        bottom:0;
        width:100%;
        height:100%;
        background-color:rgba(231, 231, 231 , 0.8);
    }

.vertical_align {
    vertical-align:middle;
    margin-top:33%;
}

.middle{
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    /* flex-direction: column; */
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    /* justify-content: center; */
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 1em;
    /* text-align: center; */
}
.vertical_align_right {
    vertical-align:middle;
    margin-top:15%;
}

.text-xxl {
    font-size:70px;
    line-height:45px;
}
.text-xl {
    font-size:50px;
}
.text-m {
    font-size:35px;
}
.text-sm {
    font-size:25px;
}

.socialStyle{
  font-size: 30px;
  color:#000 !important;


}

.content-padding {
    padding-top:80px;
    padding-bottom:80px;
}
