@font-face {
    font-family: 'Timmana';
    font-style: normal;
    font-weight: 400;
    src: local('Timmana'), url(http://fonts.gstatic.com/s/timmana/v1/tEAfDctfJT20r9KY6hrGew.woff2) format('woff2'), url(http://fonts.gstatic.com/s/timmana/v1/UfJ_dNFklDWbOsVWljJvYQ.woff) format('woff');
}

@import url(http://fonts.googleapis.com/css?family=Roboto);
body {
    font-family: Timmana !important;
    width: 100%;
    color: #fff !important;
    position: relative;
}

p {
    font-family: 'Roboto';
}

.col-centered {
    float: none;
    margin: 0 auto;
}

header {
    height: 50px;
    background-color: #272B37;
    width: 100%;
    position: fixed;
    display: block;
    z-index: 100;
}

nav {
    width: 40%;
    margin: 0 auto;
}

nav ul {
    display: table;
}

nav ul li {
    float: left;
    list-style: outside none none;
}

nav ul li a {
    color: #ccc;
    display: table;
    overflow: hidden;
    padding: 15px;
    text-decoration: none !important;
}

nav ul li a:hover {
    background-color: #000;
    color: #fff;
}

a:focus{
	color: #ccc !important;
	background-color: #000;
}

#abText {
    width: 20%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 50px;
}

.part_one {
    background-color: #30BEBC;
    padding-top: 49px;
    padding-bottom:60px; 
}
.part_two{
	background-color: #3C65B0;

    
}
.part_three{
	background-color: #652D3A;
	height: 500px;
}

.text p{
    line-height: 20px;
}

img {
    width: 70%;
    margin: 0 auto;
}

button {
    background-color: #272B37;
    padding-top: 12px !important;
    color: #ccc !important;
}

button:hover {
    color: #fff !important;
}
